body {
    display: grid;
    height: 100%;
    background-color: #e5e6e9;
    grid-template-areas: "center";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

textarea {
    resize: none;
}

button {
    background: none;
    outline: none;
    border: 0;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
  "header header header"
  "sidebar content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2.5fr 9.5fr;
    grid-gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.app-wrapper__content {
    display: grid;
    grid-template-areas:
  "center";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-area: content;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 35px;
}

.component__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.primary-btn {
    display: block;
    min-width: 200px;
    height: 40px;
    padding: 10px 15px;
    outline: none;
    border: 0;
    background-color: #4f5de0;
    color: #f3f3f3;
    border-radius: 5px;
    cursor: pointer;
}


